/* body {
    background-color: gray;
} */
.header {
    background-color: rgb(226, 222, 222);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
    margin: 0;
    
}

.head-right {  
    display: block;
    width: 100%;
    font-size: 11px;
    margin-bottom: 5%;
    color: rgb(59, 57, 57);
    
    /* border: 1px solid red; */
}

.head-left {    
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    font-size: 18px;
    margin-bottom: -5%;
    text-shadow: 2px 5px 5px rgb(82, 76, 76) ;
    
}

.main{
    background-color: rgb(226, 222, 222);
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;    
}

.main div h3 {
    font-size: 11px;
}

.text {
    font-size: 6px;
}

.main div h3 {
    font-size: 13px;
    text-shadow: 2px 5px 5px rgb(82, 76, 76) ;
}
.photos {    
    margin: 8px;     
    width: 40%;
}

.photos:hover {    
    opacity: 0.8;
    border: 3px solid black;    
}

/* .photo2 {
    top: 0px;
} */

/* .photo5 {
    top: 0px;
} */



